node_modules
main.js
app.css
*.map
data.json
.direnv
.DS_Store
*.tsbuildinfo
coverage
dist
.idea
.vscode
example/vault/.obsidian/workspace.json
example/vault/.obsidian/workspace-mobile.json
example/vault/.obsidian/plugins/lanes/main.js
example/vault/.obsidian/plugins/lanes/manifest.json
example/vault/.obsidian/plugins/lanes/styles.css
